<% provide(:title, current_user.first_name) %>
<h1>Welcome to your dashboard</h1>

<div class ="row">
	<div class = "span4">
		<%= link_to "Room Manager", :controller=>"rooms", :action=>"index" %>
	</div>
	<div class = "span4">
		Second Option
	</div>
	<div class="span4">
		Third Option
	</div>
</div>