    <!-- POLL META: Displays poll status, title, etc. -->
    <div class="poll-info row">
      <h6 class="subheader">Status - <span class="<%= (active=='open') ? 'poll-open' : 'poll-closed' %>"><%= active %></span></h6>
      <h1><%= title %></h1>
    </div>  
    
    <!-- POLL RESULTS: Displays bar graph, tally, etc. -->
    <div class="poll-result-display row">
      <% _.each(options, function(val, key, list) { %>
        <div class="poll-option-display small-3 columns">
          <span class="poll-count"><%= val %></span>
        </div>
      <% }); %>
    </div>

    <!-- POLL BUTTONS (IE. A, B, C, D) -->
    <div class="poll-controller row">
      <div class="small-12 columns">
        <% _.each(options, function(val, key, list) { %>
        <a id="<%= key %>" class="large radius secondary button poll-option"><%= key %></a>
        <% }); %>
      </div>
    </div>

