<h1>Welcome to your Room Manager</h1>
<div class="row">

	<div class="span4">
		<%= link_to "Create a new Room", :controller => "rooms", :action=>"new" %>
	</div>
	<div class="span4">
		<%= link_to "Subscribe to a room", :controller =>"rooms", :action=>"roomlist" %>
	</div>
	<div class="span4">
		<title>These are the rooms you are registered for:</title>
		<ul>
			<% @rooms.each do |room| %>
				<li><%= link_to room.name, :controller =>"rooms", :action=>"show", :id=>room.id %></li>
			<% end %>
		</ul>
	</div>
</div>