<h1>Feedback</h1>

<div style="float:left;padding:20px;">
  <a href="http://www.flickr.com/photos/stevehostetler/8157298816/" title="Vote by Steve Hostetler Photography, on Flickr"><img src="http://farm9.staticflickr.com/8203/8157298816_f63f46d678.jpg" width="500" height="400" alt="Vote"></a></div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac nunc ut mauris fringilla suscipit. Aenean elementum convallis nunc eu lacinia. Integer nec urna dapibus purus rhoncus sollicitudin. Proin vehicula consequat magna sit amet euismod. Mauris accumsan facilisis dapibus. Vestibulum vel dui nunc. Praesent pulvinar tristique felis varius malesuada. Fusce lacinia, enim sed porta mollis, velit nibh venenatis est, dapibus lacinia lacus risus eget ligula. Nunc viverra elementum justo, vitae mollis arcu interdum vel. In hac habitasse platea dictumst. Phasellus sed leo id diam lobortis sollicitudin. Nullam sed justo orci, eu feugiat neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
<a href="#signup" class="large button success">Sign up!</a>
<div style="clear:both"></div>



