<div class="row poll-<%= status %>">
    <!-- POLL META: Displays poll status, title, etc. -->
    <div class="poll-info row">
      <h6 class="subheader">Status - <span class="<%=(status=='open') ? 'green' : 'red' %>"><%= status %></span></h6>
      <h1><%= title %></h1>
    </div>

    <% if(status=='open') { %>
      <div class="row">
        <p>Vote Count</p>
        <div class="small-12 columns vote-counter"><%= totalVotes %></div>
      </div>
    <% } %>

    <% if(status=='closed') { %>
      <!-- POLL RESULTS: Displays bar graph, tally, etc. -->
      <div class="poll-result-display row">
        <% _.each(pollOptions, function(val, key, list) { %>
          <div class="poll-option-display small-3 columns">
            <div class="poll-count"><%= val.pollOption.voteCount %></div>
            <a id="id-<%= val.pollOption.id %>" class="large radius secondary button poll-option"><%= val.pollOption.label %></a>
          </div>
        <% }); %>
      </div>
    <% } %>

    <!-- POLL BUTTONS (IE. A, B, C, D) -->
    <% if(status=='open') { %>
      <div class="poll-controller row">
          <% _.each(pollOptions, function(val, key, list) { %>
            <div class="row">
              <div class="small-3 columns">
                <a id="id-<%= val.pollOption.id %>" class="large radius secondary button poll-option"><%= val.pollOption.label %></a>
              </div>
              <div class="small-9 columns">
                <p><%= val.pollOption.answer %></p>
              </div>
            </div>
          <% }); %>
      </div>
    <% } %>
</div>
