<div class="debug-controls">
    <ul class="button-group">
      <li><strong>Poll Controls</strong></li>
      <li><a href="#" id="create-poll" class="small button">Create</a></li>
      <li><a href="#" id="open-poll" class="small button">Open</a></li>
      <li><a href="#" id="refresh-poll" class="small button">Refresh</a></li>
      <li><a href="#" id="close-poll" class="small button">Close</a></li>
      <!--<li><a href="#" id="submit" class="small button">Submit</a></li>-->
    </ul>
</div>

<div class="row">
  <div class="ten columns">
    <h3><%= name %></h3>
  </div>
</div>

<div class="poll-hook">
  <p>Currently no open polls.</p>
</div>
