<form action="">
  <fieldset>
    <legend>Sign up</legend>

    <div class="row">

      <div class="large-3 columns">
        <label>First Name</label>
        <input type="text" name="name">
      </div>

      <div class="large-3 columns">
        <label>Last Name</label>
        <input type="text" name="name">
      </div>
<!--
      <div class="large-3 columns">
        <label>Student Id</label>
        <input type="text" name="student_id">
      </div>
-->

      <div class="large-3 columns">
        <label>Email</label>
        <input type="text" name="email">
      </div>

    </div>

    <div class="row">
      <div class="large-12 columns">
        <label>Password</label>
        <input type="password" name="password">
        <label>Password Confirmation</label>
        <input type="password" name="password_confirmation">
      </div>
    </div>

    <a href="#" id="sign-up" class="radius button">Sign Up</a>

  </fieldset>
</form>
